/* Footer */
.footer {
    flex: 0 0 auto;
    align-items: flex-end;
}

.footer {
    background-color: $third-color;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 2rem;
    color: $font-color-light;
    
    a {
        color: $font-color-light;
        margin-right: 0.5rem;
    }

    .social {
        font-size: 2rem;
    }
}

/* Media query */
@media (max-width: 767px) {
    .footer {
        gap: 1rem;
    }
}
