/* Main */

.main {
    flex: 1 0 auto;
    max-width: clamp(30%, 60%, 800px);
    min-height: 50vh;
    margin: 0 auto 1rem;
}

.me {
    max-width: 200px;
    margin-right: 2rem;
    filter: contrast($contrast) grayscale(100%);
}

@media (max-width: 450px) {
    .me {
        max-width: 70%;
    }
}
