/* technologies.scss */

.landingpage {
	width: 100%;
	display: grid;
        .technologies {
            grid-template-columns: repeat(3,1fr);
        }
    
	gap: 1rem 1rem;

        h1 {
            grid-column: span 3;
            justify-self: center;
        }

        h2{
            margin: 0;
        }

        .grid-item{
            background-color: $font-color;
            padding: 1rem;
            width: 100%;
            justify-self: center;
            text-align:center;
            text-transform: uppercase;

                a {
                    color: $background-color;
                    display:inline-block;
                }
        }

}

.span-2 {
    grid-column: span 2;
}

.span-3 {
    grid-column: span 3;
}

@media (max-width: 767px) {

    .landingpage{
        grid-template-columns: repeat(1,1fr);
    }
    .landingpage h1, .grid-item, .span-2, .span-3 {
        grid-column: span 1;
    }
}