.content-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
}

.sidebar {
    &-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
    }
}

.sidebar-menu li {
    list-style: none;
    padding: 0.5rem;
}

.active a {
    color: $background-color;
    display: inline-block;
}

@media (max-width: 650px) {
    .content-wrapper {
        grid-template-columns: 100%;
    }

    .sidebar {
        display: none;
    }
}
