$font-family: Helvetica, sans-serif;
$font-family-alt: 'Staatliches','Playfair Display', serif;

$font-color: #e3e3e3;
$font-color-light: #e3e3e3;
// $background-color: #0e0f16;
$background-color: #090c17;
$accent-color: #5E77E6;
$second-color: #090c17;
$third-color: #090c17;

$contrast: 125%;
$invert: 100%;
