$font-family: Helvetica, sans-serif;
$font-family-alt: 'Staatliches','Playfair Display', serif;


$font-color: #26283C;
$font-color-light: #fff;
$background-color: #fff;
$accent-color: #5E77E6;
$second-color: #E4E9FF;
$third-color: #2A3566;

$contrast: 100%;
$invert: 0;