$font-family: Helvetica, sans-serif;
$font-family-alt: 'Staatliches', serif;

$font-color: #26283c;
$font-color-light: #fff;
$background-color: #fff;
$accent-color: #5e77e6;
$second-color: #e4e9ff;
$third-color: #2a3566;

$contrast: 100%;
$invert: 0;
