$font-family: Helvetica, sans-serif;
$font-family-alt: 'Staatliches','Playfair Display', serif;
// $font-color: #161616;
// $font-color: #B5BEE0;
$font-color: #e3e3e3;
$font-alternative-color: #5079e3;
$background-color: #171717;
$accent-color: #444;

$contrast: 125%;
$invert: 100%;
