$font-family: Helvetica, sans-serif;
$font-family-alt: 'Playfair Display', serif;
// $font-color: #161616;
$font-color: #4b5673;
$font-alternative-color: #5079e3;
$background-color: #e8e8e8;
$accent-color: #2146f5;
